@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url(../fonts/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto-Regular";
  }  

#index_header{
    background-color: #1f2937;
}

#header_nav{
    margin-right: 10%;
}

#header_nav #header_logo{   
    font-size: 24px;
    color: #F9FAF8;
    float: left;
    font-weight: bold;
    padding-left: 10%;
}

#header_nav a{
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #F9FAF8;
}

#header_h1{
    color: #F9FAF8;
    font-family: "Roboto-Bold";
    font-size: 48px;
}

#header_p{
    font-size: 18px;
    color: #E5E7EB;
}

#container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}

.side_by_side{
    padding-bottom: 10%;
    padding-top: 10%;
    margin: 1%;
}

#index_middle{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 1.25%;
    margin-bottom: 2.5%;
}

#middle_h2{
    font-size: 36px;
    color: #1f2937;
    font-family: "Roboto-Bold";
}

#image_cards{
    display: flex;
    gap: 16px;
    margin-top: 2%;
}

#index_middle #image_cards .image_card{
    flex-direction: row;
}

#index_middle #image_cards .image_card img{
    border: 3px solid #3882f6;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    object-fit: cover;
}

button{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: none;
    color: #F9FAF8;
    background-color: #3882f6;
}

button:hover{
    background-color: #f9ea47;
    color: #1f2937;
}

#sign_up button:hover{
    border-color: #1f2937;
}

#quote_div{
    background-color: #E5E7EB;
    color: #1f2937;
    align-items: center;
    display: flex;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

#inner_div{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-right: 19%;
    margin-left: 19%;
}

#quote_div #inner_div p:nth-child(1){
    align-items: center;
    font-size: 36px;
    font-family: "Roboto-LightItalic";
}

#quote_div #inner_div p:nth-child(2) {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
}

#sign_up{
    background-color: #3882f6;
    display: flex;
    color: #F9FAF8;
    justify-content: space-around;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 5px;
    margin-top: 2.5%;
    margin-bottom: 5%;
}

#sign_up button{
    border: 2px solid #F9FAF8;
}

#index_footer{
    background-color: #1f2937;
    text-align: center;
    color: #F9FAF8;
}

#index_footer p{
    padding: 1.5%;
    margin: 0;
}



